/* Home page-specific styles */
.home-container {
    padding: 20px;
}

.hospital-info {
    display: flex;
    margin-bottom: 30px;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.features-section {
    flex: 1;
}

.address {
    font-weight: bold;
    margin-bottom: 20px;
}

.dashboard {
    margin-top: 40px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.additional-features {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.feature-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Information Section */
.contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
  }
  
  .contact-info h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
  }
  
  .contact-details p {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .contact-details i {
    margin-right: 10px;
  }
  
  /* Icon Styling */
  .contact-details .fas, .contact-details .fab {
    color: #007BFF;
    font-size: 1.5em;
  }
  